---
const platform = "LinkedIn";
const username = "jeremy-browning-31564525";
---

<footer>
  <p>Learn more about me on <a href={`https://www.${platform}.com/in/${username}`}>{platform}</a>!</p>
</footer>